
@{
    ViewBag.Title = "Home";
}
<div class="pozadina">

    <div class="mojDiv">
        @Html.ActionLink("Ažuriranje zaposlenika", "IspisZaposlenika", null, new { @class = "myButton" })
        @Html.ActionLink("Otvaranje putnog naloga", "OtvaranjePutnogNaloga", null, new { @class = "myButton" })
        @Html.ActionLink("Ispis putnih naloga", "IspisPutnogNaloga", null, new { @class = "myButton" })
    </div>

</div>